[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywinauto = "*"
pillow = "*"
psutil = "*"
pytesseract = "*"
pyinstaller = "*"
httpx = {extras = ["brotli", "http2"], version = "*"}
tqdm = "*"
rapidfuzz = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
